body {
  margin: 0;
  padding: 0;
  background-color: lightblue;
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
}

.CreateAccount_Box {
  width: 300px;
  height: 400px;
  background: #000;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

span.a {
  display: block;
  width: 400px;
  height: 800px;
  padding: 5px;
  border: 1px solid blue;    
  background-color: lightpink; 
}

.CreateAccount_Box input[type="text"], .CreateAccount_Box input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.CreateAccount_Box input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #FFC0CB;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.CreateAccount_Box input[type="submit"]:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}

.CreateAccount_Box a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.CreateAccount_Box a:hover {
  color: #fff;
}